<%= form_for Post.new, remote: true do |f| %>
  <div class="card mt-2 mb-3">
    <div class="card-body">
      <div class="mb-3">
        <%= f.label :content, class: "form-label" %>
        <%= f.text_area :content, class: "form-control" %>
      </div>
      <%= f.submit class: "btn btn-primary float-end" %>
    </div>
  </div>
<% end %>

<div id="post-list">
  <% @posts.each do |post| %>
    <%= render "post", post: post  %>
  <% end %>
</div>

<script>
  var current_post_id = <%= @posts.last.id %>;

  $(window).scroll(function(){
    if((window.innerHeight + window.scrollY) >= document.body.offsetHeight){
      var url = "/posts?max_id="+current_post_id;
      if(url){
        $.ajax({
          method: "GET",
          url: url,
          dataType: "script"
        })
      }else{
        console.log("data ended")
      }
    }
  })

  $("#post-list").on('change',".toggle-flag", function(){
    var url = $(this).data("url");
    var that = this;
    $.ajax({
      url: url,
      method: "POST",
      dataType: "json",
      success: function(data){
        if(data["flag_at"]){
          // $("#post-flag-" + data["id"]).html(data["flag_at"]);
          $(that).closest("label").find("span").html(data["flag_at"]);
        }else{
          // $("#post-flag-" + data["id"]).html("");
          $(that).closest("label").find("span").html("");
        }
      }
    });
  });

  $("#post-list").on('change',".select_category",function(){
    var url = $(this).data("url");
    var that = this;

    $.ajax({
      url: url,
      method: 'PATCH',
      dataType: 'json',
      data:{
        post: {
          category_id: $(this).val()
        }
      },
      beforeSend: function(){
        $(that).after( $('<img src="/images/ajax-loader.gif" id="ajax-loading">'));
      },
      complete: function(){
        $("#ajax-loading").remove();
      }
    });
  });
  
  $(".raty").raty({
    path: '/images/',
    score: function(){return $(this).data('score');},
    click: function(score){
      var that = this;
      $.ajax({
        beforeSend: function (xhr) {
          xhr.setRequestHeader(
            'X-CSRF-Token',
            $('meta[name="csrf-token"]').attr('content'),
          );
        },
        url: $(this).data("score-url"),
        method: "POST",
        data: {score: score},
        dataType: 'json',
        success: function(data){
          $(that).closest(".card-body").find(".average-score").html(data["average_score"]);
        }
      })
    }
  });
</script>